.containerProduto {
  flex-direction: column;
  display: flex;
  gap: 30px;
}

.containerFotoProduto {
  box-shadow: var(--sombra-botao);
  object-fit: cover;
  display: flex;
  width: 100%;
}

.containerFotoProduto img {
  border: 6px solid var(--cor-destaque);
  width: 100%;
}

.containerConteudoProduto {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 20px;
}

.containerConteudoProduto h1 {
  font-size: var(--tamanho-titulo);
  font-family: var(--font-titulo);
  color: var(--cor-titulo);
  text-align: center;
}

.containerConteudoProduto p,
.containerConteudoProduto small {
  font-size: var(--tamanho-texto);
  font-family: var(--font-texto);
  color: var(--cor-paragrafo);
  text-align: justify;
}

.containerConteudoProduto small {
  text-align: center !important;
  font-size: 10px !important;
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .containerProduto {
    flex-direction: row;
  }

  .containerFotoProduto,
  .containerConteudoProduto {
    object-fit: contain;
    display: flex;
    width: 50%;
  }

  .containerFotoProduto img {
    border: 6px solid var(--cor-destaque);
    width: 100%;
    height: 50%;
  }
  .containerFotoProduto {
    height: 100%;
    width: 35%;
  }

  .containerConteudoProduto {
    width: 60%;
  }

  .containerConteudoProduto p,
  .containerConteudoProduto small {
    text-align: center;
  }
}
