.secaoPoliticaTroca section {
  padding: 0;
}

.containerPoliticaTroca {
  gap: 50px !important;
}

.containerPoliticaTroca,
.containerPoliticaTroca section {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.containerRegulamentos {
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.containerPoliticaTroca h1,
.containerRegulamentos h2,
.containerRegulamentos h3 {
  font-family: var(--font-titulo);
  color: var(--cor-titulo);
}

.containerPoliticaTroca p,
.containerRegulamentos p {
  font-size: var(--tamanho-texto);
  font-family: var(--font-texto);
  color: var(--cor-paragrafo);
}
