.botao {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--cor-destaque);
  border-radius: 8px;
  padding: 0px 25px;
  margin-top: auto;
  height: 35px;
  border: 0;
}

.botao a {
  font-size: var(--tamanho-texto-botao);
  font-family: var(--font-texto);
  color: var(--cor-fundo);
  text-decoration: none;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .botao {
    transition: 0.3s;
    cursor: pointer;
  }

  .botao:hover {
    transform: scale(0.98);
    opacity: 0.8;
  }
}
