.card {
  border: 1px solid var(--cor-destaque);
  box-shadow: var(--cor-sombra-card);
  flex-direction: column;
  border-radius: 16px;
  min-width: 296px;
  max-width: 600px;
  display: flex;
  width: 100%;
}

.cardImage {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 190px;
  width: 100%;
}

.cardImage img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardDescricao {
  background-color: var(--cor-card-fundo);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 15px;
  display: flex;
  gap: 20px;
}

.cardDescricao h3 {
  font-size: var(--tamanho-subtitulo-card);
  font-family: var(--font-titulo);
  color: var(--cor-titulo);
  font-weight: 500;
}

.cardDescricao p {
  font-size: var(--tamanho-texto-card);
  font-family: var(--font-texto);
  color: var(--cor-paragrafo);
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 15px);
  }

  .cardImage {
    height: 370px;
  }

  .cardDescricao {
    align-content: flex-start;
    flex: 1;
  }
}

/* @media (min-width: ) */
