.header {
  background-color: transparent;
  position: relative;
  height: 60px;
  width: 100%;
}

.containerHeader {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menuMobile {
  display: flex;
}

.menuMobile button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.menuDesktop {
  display: none;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 90px;
  }

  .menuMobile {
    display: none;
  }

  .menuDesktop {
    display: flex;
  }

  .menuDesktop ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .menuDesktop ul a {
    font-family: var(--font-titulo);
    color: var(--cor-titulo);
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }

  .menuDesktop ul a:hover {
    opacity: 0.7;
  }
}
