.containerDiferencial {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 25px;
}

.containerDiferencial h2 {
  font-size: var(--tamanho-subtitulo-secao);
  font-family: var(--font-titulo);
  color: var(--cor-titulo);
  font-weight: 300;
}

.containerCards {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 40px;
}

@media (min-width: 1024px) {
  .containerDiferencial {
    gap: 70px;
  }

  .containerCards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
